openapi: 3.0.3
info:
  title: AurenWorks Control Plane API
  description: |
    Control plane API for the AurenWorks platform. This API provides endpoints for managing
    projects, components, records, and jobs within the AurenWorks ecosystem.
    
    ## Authentication
    All endpoints require authentication via API key or JWT token.
    
    ## Rate Limiting
    API requests are rate limited to 1000 requests per hour per API key.
    
    ## Error Handling
    The API uses standard HTTP status codes and returns error details in a consistent format.
    
    ## CORS Support
    The API supports Cross-Origin Resource Sharing (CORS) for browser-based clients.
    All responses include `Access-Control-Allow-Origin` and conditionally include
    `Access-Control-Allow-Credentials`. The `Access-Control-Allow-Methods` and
    `Access-Control-Allow-Headers` headers are only sent in response to OPTIONS
    preflight requests, as per the CORS specification (RFC 6454).
    
    **Allowed Origins:**
    - Development: `http://localhost:5173`
    - Production: TBD (studio domain)
    
    **Allowed Methods:** GET, POST, PUT, DELETE, OPTIONS
    
    **Allowed Headers:** Authorization, Content-Type, X-API-Key
    
    **Credentials:** Supported (cookies and authorization headers)
  version: 0.1.0
  contact:
    name: AurenWorks Team
    url: https://github.com/aurenworks/aurenworks-schemas
    email: support@auren.dev
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.auren.dev/v0
    description: Production server
  - url: https://api-staging.auren.dev/v0
    description: Staging server
  - url: https://api.example.local/v0
    description: Local development server

security:
  - ApiKeyAuth: []
  - BearerAuth: []

paths:
  /health:
    get:
      summary: Health Check
      description: Check the health status of the API
      operationId: getHealth
      tags:
        - System
      security: []
      responses:
        '200':
          description: API is healthy
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: API is unhealthy
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      summary: CORS Preflight for Health Check
      description: Handle CORS preflight requests for the health check endpoint
      operationId: optionsHealth
      tags:
        - System
      security: []
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'

  /projects:
    get:
      summary: List Projects
      description: Retrieve a list of projects accessible to the authenticated user
      operationId: listProjects
      tags:
        - Projects
      parameters:
        - name: limit
          in: query
          description: Maximum number of projects to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Number of projects to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: status
          in: query
          description: Filter projects by status
          required: false
          schema:
            $ref: '#/components/schemas/ProjectStatus'
      responses:
        '200':
          description: List of projects
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create Project
      description: Create a new project
      operationId: createProject
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Project already exists
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    options:
      summary: CORS Preflight for Projects
      description: Handle CORS preflight requests for project endpoints
      operationId: optionsProjects
      tags:
        - Projects
      security: []
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'

  /projects/{projectId}:
    get:
      summary: Get Project
      description: Retrieve a specific project by ID
      operationId: getProject
      tags:
        - Projects
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      responses:
        '200':
          description: Project details
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      summary: Update Project
      description: Update an existing project
      operationId: updateProject
      tags:
        - Projects
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      summary: Delete Project
      description: Delete a project and all its associated resources
      operationId: deleteProject
      tags:
        - Projects
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      responses:
        '204':
          description: Project deleted successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    options:
      summary: CORS Preflight for Project
      description: Handle CORS preflight requests for a specific project endpoint
      operationId: optionsProject
      tags:
        - Projects
      security: []
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'

  /projects/{projectId}/components:
    get:
      summary: List Components
      description: Retrieve components within a project
      operationId: listComponents
      tags:
        - Components
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
        - name: limit
          in: query
          description: Maximum number of components to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Number of components to skip
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: type
          in: query
          description: Filter components by type
          required: false
          schema:
            $ref: '#/components/schemas/ComponentType'
      responses:
        '200':
          description: List of components
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentListResponse'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create Component
      description: Create a new component within a project
      operationId: createComponent
      tags:
        - Components
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComponentRequest'
      responses:
        '201':
          description: Component created successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Component already exists
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    options:
      summary: CORS Preflight for Components
      description: Handle CORS preflight requests for component endpoints
      operationId: optionsComponents
      tags:
        - Components
      security: []
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'

  /projects/{projectId}/components/{componentId}:
    get:
      summary: Get Component
      description: Retrieve a specific component by ID
      operationId: getComponent
      tags:
        - Components
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
        - name: componentId
          in: path
          required: true
          description: Unique identifier for the component
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      responses:
        '200':
          description: Component details
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Component not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      summary: Update Component
      description: |
        Update an existing component. This endpoint supports optimistic concurrency
        control via ETags. Include the If-Match header with the ETag value from
        the most recent GET request to prevent concurrent modification conflicts.
      operationId: updateComponent
      tags:
        - Components
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
        - name: componentId
          in: path
          required: true
          description: Unique identifier for the component
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
        - name: If-Match
          in: header
          required: true
          description: |
            ETag value from the most recent GET request for this component.
            The update will only proceed if the ETag matches the current resource version.
          schema:
            type: string
            example: '"abc123def456"'
          style: simple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateComponentRequest'
      responses:
        '200':
          description: Component updated successfully
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Component not found
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: |
            Conflict - The resource has been modified since the last GET request.
            The ETag in the If-Match header does not match the current resource version.
            The client should fetch the latest version and retry the update.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorResponse'
        '412':
          description: |
            Precondition Failed - The If-Match header is missing or invalid.
            The client must include a valid If-Match header with the ETag value.
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    options:
      summary: CORS Preflight for Component
      description: Handle CORS preflight requests for a specific component endpoint
      operationId: optionsComponent
      tags:
        - Components
      security: []
      parameters:
        - name: projectId
          in: path
          required: true
          description: Unique identifier for the project
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
        - name: componentId
          in: path
          required: true
          description: Unique identifier for the component
          schema:
            type: string
            pattern: '^[a-zA-Z0-9_-]+$'
            minLength: 1
            maxLength: 64
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/AccessControlAllowOrigin'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/AccessControlAllowMethods'
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/AccessControlAllowHeaders'
            Access-Control-Allow-Credentials:
              $ref: '#/components/headers/AccessControlAllowCredentials'
            Access-Control-Max-Age:
              $ref: '#/components/headers/AccessControlMaxAge'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication

  headers:
    AccessControlAllowOrigin:
      schema:
        type: string
        example: "http://localhost:5173"
      description: |
        Allowed origin for CORS requests. In development, this is typically
        `http://localhost:5173`. In production, this will be the studio domain.
        The server may return `*` for public endpoints or a specific origin
        for authenticated requests.
    AccessControlAllowMethods:
      schema:
        type: string
        example: "GET, POST, PUT, DELETE, OPTIONS"
      description: |
        Comma-separated list of HTTP methods allowed for CORS requests.
        All endpoints support GET, POST, PUT, DELETE, and OPTIONS.
    AccessControlAllowHeaders:
      schema:
        type: string
        example: "Authorization, Content-Type, X-API-Key, If-Match"
      description: |
        Comma-separated list of headers allowed in CORS requests.
        Includes Authorization (for Bearer tokens), Content-Type, X-API-Key, and If-Match (for optimistic concurrency control).
    ETag:
      schema:
        type: string
        example: '"abc123def456"'
      description: |
        Entity tag for optimistic concurrency control. The ETag is a quoted string
        that represents the current version of the resource. Clients should include
        this value in the If-Match header when updating the resource to prevent
        concurrent modification conflicts.
        
        **Format:** The ETag value is always a quoted string (e.g., `"abc123"`).
        When comparing ETags, implementations must use strong comparison as per
        RFC 7232.
    IfMatch:
      schema:
        type: string
        example: '"abc123def456"'
      description: |
        Conditional request header for optimistic concurrency control. The client
        must include the ETag value received from a previous GET request when
        updating a resource. If the ETag does not match the current resource
        version, the server will return a 409 Conflict response.
        
        **Format:** The If-Match value must be a quoted string matching the ETag
        from the resource's last response. The value `*` can be used to match any
        existing resource, but this is not recommended for component updates.
    AccessControlAllowCredentials:
      schema:
        type: string
        enum: ["true"]
        example: "true"
      description: |
        Indicates whether credentials (cookies, authorization headers) are
        allowed in CORS requests. Must be the literal string "true" when
        credentials are supported.
        
        **Implementation Note:** This header is **conditionally included** in
        responses. Implementations should only include this header when credentials
        are actually allowed for the specific request. When credentials are not
        allowed, this header must be omitted entirely (not set to "false").
        
        **OpenAPI Specification:** Per OpenAPI 3.0, all response headers are
        optional by default. The presence of this header in the schema via `$ref`
        is for documentation purposes only and does not require implementations to
        include it in every response. Implementations must conditionally include
        this header based on request context and authentication requirements.
    AccessControlMaxAge:
      schema:
        type: integer
        example: 86400
      description: |
        Maximum time (in seconds) that a browser can cache the preflight
        response. Default is 86400 (24 hours).

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
          description: Health status of the API
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
        version:
          type: string
          description: API version
          example: "0.1.0"
        uptime:
          type: number
          description: API uptime in seconds
          example: 3600

    ErrorResponse:
      type: object
      required:
        - error
        - message
        - timestamp
      properties:
        error:
          type: string
          description: Error code
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: Human-readable error message
          example: "Invalid request parameters"
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the error occurred
        details:
          type: object
          description: Additional error details
          additionalProperties: true
        requestId:
          type: string
          description: Unique identifier for the request
          example: "req_123456789"

    Project:
      type: object
      required:
        - id
        - name
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          minLength: 1
          maxLength: 64
          description: Unique identifier for the project
          example: "my-project"
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable name for the project
          example: "My Project"
        description:
          type: string
          maxLength: 500
          description: Optional description of the project
          example: "A sample project for demonstration"
        status:
          $ref: '#/components/schemas/ProjectStatus'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Tags associated with the project
          example: ["web", "api", "production"]
        metadata:
          type: object
          description: Additional metadata for the project
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the project was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the project was last updated
        createdBy:
          type: string
          description: User ID who created the project
          example: "user_123"

    ProjectStatus:
      type: string
      enum: [active, inactive, archived, deleted]
      description: Status of the project

    CreateProjectRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable name for the project
          example: "My Project"
        description:
          type: string
          maxLength: 500
          description: Optional description of the project
          example: "A sample project for demonstration"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Tags associated with the project
          example: ["web", "api", "production"]
        metadata:
          type: object
          description: Additional metadata for the project
          additionalProperties: true

    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable name for the project
          example: "My Updated Project"
        description:
          type: string
          maxLength: 500
          description: Optional description of the project
          example: "An updated description"
        status:
          $ref: '#/components/schemas/ProjectStatus'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Tags associated with the project
          example: ["web", "api", "production"]
        metadata:
          type: object
          description: Additional metadata for the project
          additionalProperties: true

    ProjectListResponse:
      type: object
      required:
        - projects
        - total
        - limit
        - offset
      properties:
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        total:
          type: integer
          minimum: 0
          description: Total number of projects matching the query
        limit:
          type: integer
          minimum: 1
          maximum: 100
          description: Maximum number of projects returned
        offset:
          type: integer
          minimum: 0
          description: Number of projects skipped

    Component:
      type: object
      required:
        - id
        - name
        - type
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          minLength: 1
          maxLength: 64
          description: Unique identifier for the component
          example: "my-component"
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable name for the component
          example: "My Component"
        description:
          type: string
          maxLength: 500
          description: Optional description of the component
          example: "A sample component for demonstration"
        type:
          $ref: '#/components/schemas/ComponentType'
        status:
          $ref: '#/components/schemas/ComponentStatus'
        projectId:
          type: string
          pattern: '^[a-zA-Z0-9_-]+$'
          minLength: 1
          maxLength: 64
          description: ID of the project this component belongs to
          example: "my-project"
        config:
          type: object
          description: Component configuration
          additionalProperties: true
        metadata:
          type: object
          description: Additional metadata for the component
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the component was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the component was last updated
        createdBy:
          type: string
          description: User ID who created the component
          example: "user_123"

    ComponentType:
      type: string
      enum: [service, database, queue, cache, storage, api, worker, scheduler]
      description: Type of the component

    ComponentStatus:
      type: string
      enum: [active, inactive, deploying, failed, pending]
      description: Status of the component

    CreateComponentRequest:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable name for the component
          example: "My Component"
        description:
          type: string
          maxLength: 500
          description: Optional description of the component
          example: "A sample component for demonstration"
        type:
          $ref: '#/components/schemas/ComponentType'
        config:
          type: object
          description: Component configuration
          additionalProperties: true
        metadata:
          type: object
          description: Additional metadata for the component
          additionalProperties: true

    UpdateComponentRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable name for the component
          example: "My Updated Component"
        description:
          type: string
          maxLength: 500
          description: Optional description of the component
          example: "An updated description"
        type:
          $ref: '#/components/schemas/ComponentType'
        status:
          $ref: '#/components/schemas/ComponentStatus'
        config:
          type: object
          description: Component configuration
          additionalProperties: true
        metadata:
          type: object
          description: Additional metadata for the component
          additionalProperties: true

    ConflictErrorResponse:
      type: object
      required:
        - error
        - message
        - timestamp
        - conflict
      properties:
        error:
          type: string
          description: Error code
          example: "CONCURRENT_MODIFICATION"
        message:
          type: string
          description: Human-readable error message
          example: "The resource has been modified since your last request. Please fetch the latest version and try again."
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the conflict was detected
        conflict:
          type: object
          required:
            - resourceType
            - resourceId
            - currentETag
            - providedETag
          properties:
            resourceType:
              type: string
              description: Type of resource that conflicted
              example: "component"
            resourceId:
              type: string
              description: Identifier of the conflicting resource
              example: "my-component"
            currentETag:
              type: string
              description: Current ETag value of the resource
              example: '"xyz789"'
            providedETag:
              type: string
              description: ETag value provided in the If-Match header
              example: '"abc123"'
          description: Details about the concurrency conflict
        details:
          type: object
          description: Additional error details
          additionalProperties: true
        requestId:
          type: string
          description: Unique identifier for the request
          example: "req_123456789"
      description: |
        Error response returned when a 409 Conflict occurs due to optimistic
        concurrency control. The resource has been modified since the client's
        last GET request, and the ETag in the If-Match header does not match
        the current resource version.

    ComponentListResponse:
      type: object
      required:
        - components
        - total
        - limit
        - offset
      properties:
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
        total:
          type: integer
          minimum: 0
          description: Total number of components matching the query
        limit:
          type: integer
          minimum: 1
          maximum: 100
          description: Maximum number of components returned
        offset:
          type: integer
          minimum: 0
          description: Number of components skipped

tags:
  - name: System
    description: System health and status endpoints
  - name: Projects
    description: Project management endpoints
  - name: Components
    description: Component management endpoints
